<head>
	<title>AIKIDO Tarragona - Escola Infantil i Adults - {{ .Title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="Clases per a nens i per a adults d'Aikido. El nostre Dojo: piscines CLub Natació Tarraco. L'activitat extraescolar perfecte per després de l'escola. Més que un esport, més que un art marcial. Una manera de crèixer amb valors, un canvi de mentalitat en els més grans. Vine a probar l'Aikido Gratis." />
	<link rel="icon" href="{{ .Site.Params.BaseIcon }}" />
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css" />
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/project.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
	<noscript><link rel="stylesheet" href="{{ .Site.BaseURL }}/css/noscript.css" /></noscript>
	<!-- Scripts -->
<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
</head>
