<head>
	<title>AIKIDO Tarragona - Escola Infantil i Adults {{ .Title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="Classes per a juvenils i a adults a partir de 15 anys. El nostre Dojo: piscines CLub Natació Tarraco. L'activitat perfecte per exercir físic i ment per igual." />
	<link rel="icon" href="{{ .Site.Params.BaseIcon }}" />
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css" />
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/project.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
	<noscript><link rel="stylesheet" href="{{ .Site.BaseURL }}/css/noscript.css" /></noscript>
	<!-- Scripts -->
<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
</head>
